

// PRIMARY COLOURS
//
$prospa-charcoal            = $color-charcoal-3
$error-color                = $color-red-500
$warning-color              = $color-red-500
$placeholder-color          = $color-charcoal-5


// new colours based on Google Material Design
//
$color-green-1      = #33691E  // tint 900
$color-green-2      = #558B2F  // tint 800
$color-green-3      = #689F38  // tint 700
$color-green-4      = #7CB342  // tint 600
$color-green-5      = #8BC34A  // tint 500
$color-green-6      = #9CCC65  // tint 400
$color-green-7      = #AED581  // tint 300
$color-green-8      = #C5E1A5  // tint 200
$color-green-9      = #DCEDC8  // tint 100
$color-green-10     = #F1F8E9  // tint 50

$color-charcoal-1   = #263238  // tint 900
$color-charcoal-2   = #37474F  // tint 800
$color-charcoal-3   = #455A64  // tint 700
$color-charcoal-4   = #546E7A  // tint 600
$color-charcoal-5   = #607D8B  // tint 500
$color-charcoal-6   = #78909C  // tint 400
$color-charcoal-7   = #90A4AE  // tint 300
$color-charcoal-8   = #B0BEC5  // tint 200
$color-charcoal-9   = #CFD8DC  // tint 100
$color-charcoal-10  = #ECEFF1  // tint 50
$color-charcoal-11  = rgba(236,239,241,.75) // this is charcoal-10
$color-charcoal-12  = rgba(236,239,241,.5) // this is charcoal-10


$color-orange-1     = #365100  // tint 900
$color-orange-2     = #EF6C00  // tint 800
$color-orange-3     = #F57C00  // tint 700
$color-orange-4     = #FB8C00  // tint 600
$color-orange-5     = #FF9800  // tint 500
$color-orange-6     = #FFA726  // tint 400
$color-orange-7     = #FFB74D  // tint 300
$color-orange-8     = #FFCC80  // tint 200
$color-orange-9     = #FFE0B2  // tint 100
$color-orange-10    = #FFF3E0  // tint 50

$color-red-500      = #F44336  // tint 500
$color-red-900      = #B71C1C  // tint 900

$color-white        = #fff
$color-black        = #000