// https://github.com/jenius/rupture


rupture.scale           = 0        600px       768px       1024px      1280px      1920px

//                        └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘
// Slice numbers:              1           2           3           4           5           6
rupture.scale-names     =     'xs'        'sm'        'md'        'lg'        'xl'        'hd'


rupture.mobile-cutoff   = 768px
// rupture.mobile-cutoff   = rupture.scale[1]
rupture.desktop-cutoff  = 1024px

rupture.hd-cutoff       = 1920px


.hidden-mobile
  +mobile()
    display     none

.hidden-tablet
  +tablet()
    display     none

.hidden-desktop
  +desktop()
    display     none


.hidden-hd
  +hd()
    display     none